.price {
  // width: 100%;
  // height: auto;
  background-color: $light-blue-fone;

  &__wrapper {
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
    
    padding: 112px 0;
    // padding-top: 140px;
    // padding-bottom: 140px;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0;
    color: $primary-text;
    font-size: $section-title-size;
  }

  &__tabs {
    width: 80%;
    height: 92px;
    margin-top: 60px;
  }

  &__tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__tabs ul > li {
    font-size: $price-model-text;
    // padding-top: 8px;
    // padding-bottom: 8px;
    padding: 8px 0;
    cursor: pointer;
    color: $secondary-text;

    display: flex;
    flex-direction: column;
    align-items: center;

    & span {
      margin-top: 8px;
    }
  }

  &__tabs ul > li.is-active {
    cursor: default;
    color: $primary-text;
  }

  &__contents {
    width: 80%;
    height: auto;
    margin-top: 60px;
  }

  &__content {
    display: none;
    flex-direction: column;
    justify-content: space-between;

    animation: {
      name: content;
      direction: normal;
      duration: 0.6s;
      timing-function: ease-in-out;
      iteration-count: 1;
    }
  }

  &__content.is-active {
    display: flex;
  }

  &__content-item {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 32px; // +++

    &:first-child {
      margin-top: 0;
    }

    & h3 {
      margin: 0;
      color: $primary-text;
      font-size: 32px;
    }

    & p {
      color: $secondary-text;
      font-size: 24px;
    }
    
  }

  &__content-count {
    color: $primary-text;
    font-size: 32px;
    font-weight: 700;

    min-width: 150px;
    margin-left: 16px;
  }
}

@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
